@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background: #5425b3;
  background: linear-gradient(157deg, rgba(84, 37, 179, 1) 0%, rgba(25, 25, 145, 1) 35%, rgba(0, 212, 255, 1) 100%);
  background-size: cover;
  color: #fff;
}

#case-added {
  width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  margin-bottom: 30px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.prompt {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 20px 0 0 20px;
}

.btn {
  padding: 15px 30px;
  border-radius: 0 20px 20px 0;
  border: none;
  background-color: #1a7117;
  color:#fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s easy-in-out;
}

.btn:hover {
  background-color: #3ea141;
  transform: scale(.95, .95);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}

.taskwrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(100px);
}

.tasklist {
  width: 100%;
  align-items: center;
  list-style: disc;
  justify-content: space-between;
}

.taskItem {
  width: 100%;
  height: 50px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 500;
  line-height: 50px;
  transform: translateX(-140px);
  justify-content: space-between;
  text-wrap: wrap;
  margin-bottom: 40px;
}

.delBtn {
  background-color: #ce1313;
  padding: 15px 30px;
  border: none;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s easy-in-out;
  cursor: pointer;
  transition: all .5s easy-in-out;
}

.delBtn:hover {
  background-color: #f04b4b;
  transform: scale(.95, .95);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}

/* Новый стиль для задачи в процессе - оранжевый фон и контрастный текст */
.in-progress {
  background-color: #FFA500; /* оранжевый */
  color: #fdfafa; /* светлый текст */
}

/* Кнопка "В процессе" */
.inProgressBtn {
  background-color: #be760b;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  
  /* margin-right: 20px; */
  transition: all 0.3s ease-in-out;
  color: #fdfafa;
}

.inProgressBtn:hover {
  background-color: #ff9900;
  transform: scale(0.95);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

/* Стиль с иконкой веселого смайлика для новых задач */
.smiley-icon span:first-child::before {
  content: "😄";
  font-size: 24px;
  margin-right: 8px;
}
